#ten-hours-container {
  /* width: 100%; */
  flex-basis: 100%;
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & div {
    display: flex;
    flex-basis: 100%;
    /* flex-direction: column; */
  }

  & h1 {
    /* justify-self: center; */
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 2.5rem;
  }
}
