#ten-hours-container {
  flex-basis: 100%;
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & div {
    display: flex;
    flex-basis: 100%;
  }

  & h1 {
    color: white;
    margin-bottom: 0;
    font-size: 2.5rem;
    flex-basis: 100%;
    text-align: center;
  }

  & p {
    color: white;
    margin-bottom: 2.5rem;
    flex-basis: 100%;
    text-align: center;
    font-size: 0.75rem;
  }
}

@media (max-width: 1200px) {
  #ten-hours-container {
    flex-basis: 100%;
    padding-top: 2.5rem;

    & h1 {
      font-size: 2rem;
    }
  }
}
