#extra-weather {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  color: white;
  & p {
    font-weight: 700;
  }
  & span {
    font-weight: 400;
  }
}
@media (max-width: 1200px) {
  #extra-weather {
    flex-direction: column;
    gap: 0;
    & p {
      font-size: 0.8rem;
    }
    & p:first-child,
    p:last-child {
      margin-top: 0;
    }
  }
}
@media (max-width: 800px) {
  #extra-weather {
    flex-direction: row;
    gap: 2rem;
    & p {
      font-size: 1rem;
    }
    & p:first-child,
    p:last-child {
      margin-top: 0;
    }
  }
}
@media (max-width: 400px) {
  #extra-weather {
    flex-direction: row;
    gap: 1rem;
    & p {
      font-size: 0.7rem;
      margin-top: 0;
      margin-bottom: 3px;
    }
    & p:first-child,
    p:last-child {
      margin-top: 0;
    }
  }
}
