main {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  main {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }
}
